/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight-regular);
  background-image: var(--bg-gradient);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */

.header {
  padding: 100px 0;
}

.header__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  block-size: var(--section-block-size);
  justify-content: center;
  align-items: center;
}

.page_section {
  inline-size: var(--section-inline-size);
  margin: 0 auto;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.header__box-title {
  font-family: var(--accent-font-family, fantasy);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--accent-font-weight);
  text-transform: uppercase;
}

.header__box-subtitle {
  font-family: var(--accent-font-family, fantasy);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--accent-font-weight);
  text-transform: uppercase;
}

/* CONTENT */

.card {
  block-size: 100%;
  margin-block-end: 50px;
}

.card__title {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-weight-bold);
  background-color: var(--bg-color);
  padding: 4px 10px;
}

.card__image {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.card__image-picture {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.preps {
  filter: grayscale(0.8);
}

.fear {
  filter: opacity(0.8);;
}

.next_step {
  filter: invert(0.2);
}

.perfect {
  filter: saturate(170%);
}

.people {
  filter: contrast(1);
}

.strategies {
  filter: sepia(70%);
}

.focus {
  filter: saturate(128%) brightness(120%);
}

.now {
  filter: drop-shadow(0 10px 3px rgba(208, 86, 180, 0.8)) brightness(120%);
}

.card__image-label {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  color: var(--main-color);
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  font-weight: var(--accent-font-weight);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;

  @supports((text-stroke: var(--text-stroke-value)) or (-webkit-text-stroke: var(--text-stroke-value))) {
    -webkit-text-stroke: var(--text-stroke-value);
    text-stroke: var(--text-stroke-value);
    text-shadow: none;
  }
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-weight-regular);
  line-height: 21px;
}

.card__actions {
  padding: 0 25px 25px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: flex-end;
}

.button {
  position: relative;
  border: 2px solid var(--main-color);
  color: var(--bg-color);
  background-color: var(--bg-color);
  block-size: 38px;
  padding: 9px 17px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.button:hover:after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 10;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  font-weight: var(--accent-font-weight);
  line-height: 12.6px;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.card__icon-button {
  inline-size: 36px;
  block-size: 37px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: border 0.3s ease;
}

.like-icon {
  display: block;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: bigger_heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

/* TO SAVE FOR THE MEMORIES */

.final_action {
  margin: 0 auto 100px;
}

.save__btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  block-size: 100%;
  margin: 0 auto;
}

@media (width <= 375px) {
  .save__btn {
    flex-direction: column;
  }

  .save__btn svg {
    block-size: 2em;
  }
}

.save__btn svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save__icon {
  display: block;
  inline-size: 28px;

  @media (width > 375px) {
    inline-size: 21px;
  }
}

/* POPUP */

.popup {
  max-inline-size: 353px;
  min-block-size: 191px;
  padding: 30px;
}

@media (width <=375px) {
  .popup {
    inline-size: 100%;
    padding: 30px 40px;
  }
}

.popup[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

body:has(.popup[open]) {
  overflow: hidden;
}

.popup[open] .popup__message {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.popup__text {
  color: var(--main-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--accent-font-weight);
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  inline-size: 234px;
}

.popup__icon {
  display: block;
  inline-size: 39px;
}

.ok-button {
  text-transform: uppercase;
  inline-size: 100%;
}