/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P-Regular';
    --main-font-size: 18px;
    --main-font-weight-regular: 410;
    --main-font-weight-bold: 715;
    --accent-font-weight: 400;
    --bg-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px), linear-gradient(#e7e7e7 0%, #e7e7e7 0.01%,#1a1a1a 100%);
    --bg-color: #FFFFFF;
    --main-color: #000000;
    --heart-main-color: #FF0000;
    --contour-color: #000000;
    --text-stroke-value: 1px #FFFFFF;
    --section-inline-size: clamp(375px, calc(375px + (700 - 375) * (100vw - 375px) / (1440 - 375)), 700px);
    --section-block-size: clamp(327px, calc(327px + 41 * (100vw - 375px) / 1065), 368px);
}